<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} GEET {% endblock %}



{% block content %}

<h1 class="page-header main"> GEET</h1>
<p class="main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ante urna.
Donec ultricies vulputate eros sit amet posuere. Integer a consectetur ipsum.
Quisque pharetra elit odio. Proin tincidunt erat purus, vitae rhoncus ante 
feugiat a. Phasellus condimentum id tellus non facilisis. In mollis tempus 
libero, vitae molestie turpis sodales at. Donec quis eros nunc. Etiam nisi ante,
semper sed sollicitudin vel, porttitor nec nisi. Vestibulum finibus eros tincidunt,
mattis sapien et, pellentesque neque. Vestibulum faucibus ac lacus ut viverra.
Nunc pulvinar bibendum iaculis. Nam a pharetra magna. Integer id erat eget
metus ultrices facilisis sit amet congue arcu. Sed iaculis pretium velit,
quis ullamcorper velit varius ut.</p>




{% endblock %}
